body {
    background-color: #EEF2F3;
}

#searchInput {
    width: 350px;
}

.footer {
    background-color: #3E3E3E;
    height: 40px;
    margin: 20px 0px 0px 0px;
}

.footer-copyright {
    color: white;
    text-align: center;
    padding: 8px;
}

.section-1 {
	margin-top: 80px;
}

.submit {
	text-align: center;
}

.brand {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}